{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- container for head - logo and links -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Hero image, caption and shop now link -->
    <div class="hero">
        <div class="hero-text p-4">
            <h1>Fresh Flowers</h1>
            <h2 class="logo-font">For any occasion</h2>
            <a href="{% url 'bouquets' %}?category=Wedding,Any%20occasion,Basket" class="shop-now-button btn btn-lg rounded-lg text-uppercase py-3"><strong>shop now!</strong></a>
        </div>
    </div>
{% endblock %}