html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 550px;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
}

.logo {
    justify-content: center;
}

.logo-font {
    text-transform: capitalize;
    font-family: 'Sacramento', cursive;
}

.text-grey {
    color: #666666
}

.text-green {
    color: #78866b;
}

.text-pink {
    color: palevioletred;
}

.text-white {
    color: #fff;
}

.hero {
    height: calc(100vh - 164px);
    display: flex;
    background: url('/media/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-text {
    text-align: center;
    background-color: white;
    opacity: 0.9;
}

h1 {
    position: relative;
    color: #666666;  
    text-align: center;
}

.hero-text h1 {
    font-size: 3.5rem;
}

.nav-link {
    padding: 0.5rem 0.3rem;
    color: #666666 !important;
}

.nav-icon:hover {
    color: palevioletred;
}

.navbar {
    justify-content: space-evenly;
}

.navbar a {
    border-bottom: 2px solid transparent;
}

.nav-hover:hover {
    color: palevioletred !important;
}

.active {
    text-decoration: underline;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button,
.btn-green {
    background: #78866b;
    color: white;
    border-radius: 70px;
}

.shop-now-button {
    width: 250px;
}

.btn-green {
    min-width: 150px;
}

/* .shop-now-button:hover {
    background: palevioletred;
    color: white;
} */

.btn-grey {
    background: #666666;
    color: white !important;
}

/* .btn-outline-grey {
    background: #78866b;
    color: white !important; /* use important to override link colors for <a> elements */
    /* border: 1px solid #666666; */
/* } */

/* .btn-outline-grey:hover,
.btn-outline-grey:active,
.btn-outline-grey:focus {
    background: palevioletred;
    color: white !important;
} */ */

/* .shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: palevioletred;
    color: white;
} */

/* .shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: palevioletred;
} */

.border-grey {
    border: 1px solid #666666 !important;
}

.delivery-banner-text {
    background: #666666;
    color: white;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge {
    background-color: #78866b;
    color: white;
}

/* a.category-badge > span.badge:hover {
    background: palevioletred !important;
    color: white !important;
} */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 900;
    background-color: white;
}

.btt-link {
    color: #78866b;
}

.btt-link:hover {
    color: palevioletred;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.bouquets {
    width: 200px;
    height: 300px;
}

.individual-bouquets {
    width: 250px;
    height: 350px;
}

.bouquet-img-center {
    display: flex;
    justify-content: center;
}

.logo-img-lg {
    width: 18%;
}

.logo-img-md {
    width: 8%;
}

.input-group {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
}

.bag-quantity {
    min-width: 65% !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #666666;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #78866b;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content {	
	color: #666666;
}

.allauth-form-inner-content button:hover {
    color: white;
}

input[type='submit'] {
    background-color: #78866b !important;
    color: white;
}

input[type='submit']:hover {
    box-shadow: 0 10px 20px #666666;
    color: white;
}

.grey-shadow:hover,
a.category-badge > span.badge:hover,
.shop-now-button:hover {
    box-shadow: 0 10px 20px #666666;
    color: white;
}

.allauth-form-inner-content a {
	color: palevioletred; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 550px;
    background-color: #666666;
}

.newsletter {
    justify-content: center;
}

.social {
    font-size: 2rem;
    color: #fff;
}

.social:hover {
    color: palevioletred;
}

.form-row {
    justify-content: center;
}

.mobile-header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mailchimp */

#mc_embed_signup {
    background:#666666;
    font:14px;
    width:500px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.social-media {
    background-color: #78866b;
}

.edit-delete-container {
    justify-content: center;
}

.brandingLogo {
    opacity: 1;
}

.post-img {
    width: 300px;
    height: 300px;
}

.post-detail-img {
    width: 400px;
    height: auto;
}

/* Media queries */

@media (max-width: 360px) {

    .bag-img-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 90px;
    }
    
    .bag-img {
        display: block;
        position: absolute;
        top: -10px;
        width: 100%;
    }

    .checkout-img-container {
        width: 190%;
        overflow: hidden;
        position: relative;
        height: 75px;
    }
    
    .checkout-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 361px) {

    .hero-text h1 {
        font-size: 1.7rem;
    }

    .bag-img-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 100px;
    }
    
    .bag-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .checkout-img-container {
        width: 160%;
        overflow: hidden;
        position: relative;
        height: 80px;
    }
    
    .checkout-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 400px) {
    .bag-img-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 180px;
    }
    
    .bag-img {
        display: block;
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
    }

    .checkout-img-container {
        width: 110%;
        overflow: hidden;
        position: relative;
        height: 85px;
    }
    
    .checkout-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 577px) {

    body {
        margin-bottom: 550px;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .bag-img-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 200px;
    }
    
    .bag-img {
        display: block;
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
    }

    .footer {
        position: static;
        height: 550px;
    }

}

@media (min-width: 767px) {
    .bag-img-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 180px;
    }
    
    .bag-img {
        display: block;
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
    }

    .bag-quantity {
        min-width: 40% !important;
        max-width: 40% !important;
    }

    .checkout-img-container {
        width: 85%;
        overflow: hidden;
        position: relative;
        height: 90px;
    }
    
    .checkout-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 150px;
    }

    body {
        height: calc(100vh - 150px);
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {

    body {
        margin-bottom: 390px;
    }
    
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .hero-text h1 {
        font-size: 3.5rem;
    }

    .bag-img-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 260px;
    }
    
    .bag-img {
        display: block;
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
    }

    .checkout-img-container {
        width: 120%;
        overflow: hidden;
        position: relative;
        height: 90px;
    }
    
    .checkout-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .bag-quantity {
        min-width: 30% !important;
        max-width: 30% !important;
    }

    .footer {
        position: absolute;
        height: 390px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }