<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link text-black mr-5 font-weight-bold nav-hover" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5 font-weight-bold nav-hover" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bouquets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'bouquets' %}?category=Wedding,Any%20occasion,Basket" class="dropdown-item">All bouquets</a>
                <a href="{% url 'bouquets' %}?sort=category&direction=asc" class="dropdown-item">By category</a>
                <a href="{% url 'bouquets' %}?sort=price&direction=asc" class="dropdown-item">By price</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black mr-5 font-weight-bold nav-hover" href="#">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black mr-5 font-weight-bold nav-hover" href="#">Contact us</a>
        </li>
    </ul>
</div>