<!-- App_url links for css active styling, inspired by techshinobi.com -->
{% url 'home' as home_url %}
{% url 'bouquets' as bouquets_url %}
{% url 'blog' as blog_url %}
{% url 'contact' as contact_url %}

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link mr-5 font-weight-bold nav-hover {% if request.path == home_url %} active {% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5 font-weight-bold nav-hover {% if request.path == bouquets_url %} active {% endif %}" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bouquets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'bouquets' %}?category=Wedding,Any%20occasion,Basket" class="dropdown-item">All bouquets</a>
                <a href="{% url 'bouquets' %}?sort=category&direction=asc" class="dropdown-item">By category</a>
                <a href="{% url 'bouquets' %}?sort=price&direction=asc" class="dropdown-item">By price</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-5 font-weight-bold nav-hover {% if request.path == blog_url %} active {% endif %}" href="{% url 'blog' %}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold nav-hover {% if request.path == contact_url %} active {% endif %}" href="{% url 'contact' %}">Contact us</a>
        </li>
    </ul>
</div>