{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font mt-5 text-center">Blog</h2>
                {% if user.is_superuser %}
                    <a class="category-badge text-decoration-none text-uppercase" href="{% url 'add_post' %}">
                        <span class="p-2 mt-2 mr-2 badge badge-light rounded-lg">Add post</span>
                    </a>
                {% endif %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row justify-content-center">
            {% for post in posts %}
                <div class="col-12 col-md-6">
                    <h3 class="text-center mt-3">{{ post.title }}</h3>
                    {% if post.image %}
                    <a href="{% url 'post_detail' post.slug %}" class="bouquet-img-center">
                        <img class="card-img-top img-fluid post-img rounded-lg" src="{{ post.image.url }}" alt="{{ post.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'post_detail' post.slug %}" class="bouquet-img-center">
                        <img class="card-img-top img-fluid post-img rounded-lg" src="{{ MEDIA_URL }}image-coming-soon.jpg" alt="{{ post.name }}">
                    <a>
                    {% endif %}
                    <p class="lead mt-2 mb-0 text-center">{{ post.snippet }}
                        <a href="{% url 'post_detail' post.slug %}" class="text-center">Read more</a>
                    </p>
                    <br>
                    {% if user.is_superuser %}
                    <div class="d-flex edit-delete-container">
                        <a href="{% url 'edit_post' post.slug %}" class="pr-2">Edit</a> | 
                        <a class="text-danger pl-2" href="{% url 'delete_post' post.slug %}">Delete</a>
                    </div>
                    <br>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}